<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  {% include google-analytics.html %}
  <body class="td-section">
    {% include header.html %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        
        <form class="td-sidebar__search d-flex align-items-center">
          <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">
             <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
             </button>
           </form>  
    
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            
           <div class="td-content">
             <p align="center">
                {{ content }}	
              </p>
           </div>
          </main>

      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
