<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  {% include google-analytics.html %}
  <body class="td-section">
    {% include header.html %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        
   
    
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            
           <div class="td-content">

            <input class="form-control td-search-input" type="search" name="q" id="search-input" placeholder="&#xf002 Search this site…"  style="margin-top:5px" autofocus>
                
            {{ content }}	
              
           </div>
          </main>

      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
